<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
 	<typeAliases>
        <typeAlias type="es.noletia.prensa.modelo.Contacto" alias="contacto"/>
		<typeAlias type="es.noletia.prensa.modelo.Medio" alias="medio"/>
        <typeAlias type="es.noletia.prensa.modelo.Categoria" alias="categoria"/>
        <typeAlias type="es.noletia.prensa.modelo.Ambito" alias="ambito"/>
        <typeAlias type="es.noletia.prensa.modelo.Filtro" alias="filtro"/>
	
        <!-- <typeAlias type="es.noletia.clientes.modelo.Provincia" alias="provincia"/>
        <typeAlias type="es.noletia.clientes.modelo.Contacto" alias="contacto"/>
        <typeAlias type="es.noletia.clientes.modelo.Categoria" alias="categoria"/>
        <typeAlias type="es.noletia.clientes.modelo.ClienteCategoria" alias="clientecategoria"/> -->
    </typeAliases>
</configuration>