<!DOCTYPE configuration>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"> 
  <display-name>Prensa Noletia</display-name>
  
    <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/classes/config/applicationContext.xml</param-value>
  </context-param>

  
  <listener>
   <listener-class>
        org.springframework.web.context.ContextLoaderListener
   </listener-class>
  </listener>
  <!-- <listener>
  	<listener-class>es.noletia.clientes.listeners.CloseSessionListener</listener-class>
  </listener>  -->
  
	 <filter>
        <filter-name>charsetFilter</filter-name>
        <filter-class>
          org.apache.catalina.filters.AddDefaultCharsetFilter
        </filter-class>
        <init-param>
          <param-name>encoding</param-name>
          <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    
	<filter-mapping>
	    <filter-name>charsetFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>